<!doctype html>
<html ng-app="myApp" dir="rtl">
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="assets/javascripts/businessManager.js"></script>
</head>
<body>
	<div ng-controller="Categories">
		<input type="text" ng-model="name" />
		<button ng-click="create(name)">יצירת קטגוריה</button>
		<button ng-click="clear()">נקה הכל</button>
		<br />
		<table border="1">
			<tr>
				<th>שם הקטגוריה</th>
				<th>מחק?</th>
			</tr>
			<tr ng-repeat="category in categories">
				<td>{{category.name}}</td>
				<td><button ng-click="delete(category.id)">X</button></td>
			</tr>
		</table>
	</div>
</body>
</html>